.list {
  margin: 20px;

  .items {
      gap: 20rem;
  }
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background: rgb(236, 236, 236);
  border-radius: 10px;
  padding: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.card-description {
  font-size: 14px;
  color: black;
  margin-bottom: 20px;
}

.subscribe-button {
  background-color: #7763C5;
  color: white;
  padding: 5px 35px; /* Hauteur et largeur ajustées */
  border-radius: 10px; /* Bouton plus arrondi */
  text-transform: none;
  font-size: 14px; /* Taille de la police réduite */
  min-width: auto; /* Désactive la largeur par défaut */
  box-shadow: none; /* Supprime l'effet d'ombre du bouton */
}

.subscribe-button:disabled {
  background-color: #9c9c9c;
}

.app {
  .link {
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
  }

  .link + .link {
    margin-left: 10px;
  }

  /* Cacher le menu desktop pour les petits écrans */
  .desktop-menu {
    display: flex;
  }

  .mobile-menu {
    display: none;
    margin-left: auto;
  }

  @media (max-width: 768px) {
    .desktop-menu {
      display: none;
    }

    .mobile-menu {
      display: block;
      margin-left: auto;
    }
  }
}
.buttons {
  margin-left: auto;
}
.img {
  width: 100px;
}

hr {
  margin: 0;
}

.themes {
  color: #7763C5;
}

.login-icon {
  background: #D9D9D9;
  color: black;
  border-radius: 50%;
}
