<!-- list.component.html -->
<div class="app">
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    <img class="img" src="/assets/logo_p6.png" routerLink="" alt="logo" />
    <!-- Menu pour les grandes tailles d'écran -->
    <div class="buttons desktop-menu">
      <span routerLink="/articles" class="link">Articles</span>
      <span routerLink="/topics" class="link themes">Thèmes</span>
      <span routerLink="/me" class="link"><mat-icon class="login-icon">person</mat-icon></span>
    </div>

    <!-- Burger menu pour petites tailles d'écran -->
    <button mat-icon-button (click)="toggleSideMenu()" class="mobile-menu">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
<!-- Burger menu pour petites tailles d'écran -->
<div class="side-menu" [class.open]="isSideMenuOpen">
  <button mat-icon-button (click)="toggleSideMenu()">
      <mat-icon>close</mat-icon>
  </button>
  <button mat-menu-item routerLink="/articles">Articles</button>
  <button mat-menu-item routerLink="/topics">Thèmes</button>

  <!-- Bouton compte utilisateur en bas du panneau -->
  <span routerLink="/me" class="account-link"><mat-icon class="login-icon">person</mat-icon></span>
</div>
  <hr />

  <div class="list-container">
    <div class="card" *ngFor="let topic of (topics$ | async)?.topics">
      <h3 class="card-title">{{ topic.name }}</h3>
      <p class="card-description">Description: {{ topic.description }}</p>
      <button mat-raised-button color="primary" class="subscribe-button" *ngIf="!isFollowing(topic.id)" (click)="subscribe(topic.id)">
        S'abonner
      </button>
      <button mat-raised-button color="primary" class="subscribe-button" *ngIf="isFollowing(topic.id)" disabled>
        Abonné
      </button>
    </div>
  </div>
</div>
