.detail {
    margin: 20px;
}


.owner {
    margin-left: 40px;
}

.list {
    margin: 20px;

    .items {
        gap: 20rem;
    }
}

.article {
    width: 900px;
    height: 450px;
    background: rgb(236, 236, 236);
    padding: 0;
}

.app {
    .link {
        cursor: pointer;
        font-size: 16px;
        text-decoration: none;
        margin-left: 10px;
      }
    
    .link + .link {
        margin-left: 10px;
    }

    
  /* Cacher le menu desktop pour les petits écrans */
  .desktop-menu {
    display: flex;
  }

  .mobile-menu {
    display: none;
    margin-left: auto;
  }

  @media (max-width: 768px) {
    .desktop-menu {
      display: none;
    }

    .mobile-menu {
      display: block;
    }
  }

  }
  .img {
    width: 100px;
  }
  
  
  .buttons {
  margin-left: auto;
  }
  
  hr {
    margin: 0;
  }

.da {
    display: block;
}

.date {
    margin-right: 50px;
}


mat-grid-tile-header.card {
    color: black;
    font-weight: 600;
    font-size: large;
    background: rgb(236, 236, 236);
}

hr {
    margin: 0;
}

