<mat-toolbar>
    <img class="img" src="/assets/logo_p6.png" routerLink="" alt="logo" />
    
    <div class="buttons" fxLayout="row" fxLayoutAlign="space-between center">
        <span routerLink="/articles" class="link">Articles</span>
        <span routerLink="/themes" class="link">Thèmes</span>
        <span  class="link">Compte</span>
      </div>
</mat-toolbar>
<hr />
<div class="detail">
    <mat-card *ngIf="article">
        <mat-card-title>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <button mat-icon-button (click)="back()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    <h1>{{article.title | titlecase}}</h1>
                </div>
            </div>
        </mat-card-title>
        <mat-card-content >
            <div class="my2" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="center">
                    <p>Author: {{authorName}}</p>

                    <span class="ml1">Thème : {{themeName}}</span>
                </div>
            </div>
                <div class="da">
                    
                        <p class="date">
                        Date: {{article.created_at}}
                        </p>
                
                        <div class="content">
                        Contenu: {{ article.content }}
                </div>
                </div>
        </mat-card-content>
    </mat-card>

    <div class="comments-section">
        <!-- Vous pouvez également envelopper la section des commentaires dans un conteneur si nécessaire pour des styles ou une logique supplémentaires. -->
        <hr>

        <h2 class="title-comments">Commentaires</h2>
        <mat-list>
          <mat-list-item *ngFor="let comment of comments">
            <div class="list-comment-card">
              <h4 mat-line>{{ comment.commentAuthorUsername }}</h4>
              <p class="list-comment-content" mat-line>{{ comment.content }}</p>
            </div>
          </mat-list-item>
        </mat-list>
      
        <mat-card-content class="create-comment-area">
          <mat-form-field class="text-area-form-field">
            <textarea [(ngModel)]="newCommentText" matInput placeholder="Ecrivez ici votre commentaire"></textarea>
          </mat-form-field>
          <button (click)="createComment()" class="create-button" mat-icon-button>
            <mat-icon>send</mat-icon>
          </button>
        </mat-card-content>
    </div>  
</div>