<div class="app">
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
        <img class="img" src="/assets/logo_p6.png" routerLink="" alt="logo" />
        <!-- Menu pour les grandes tailles d'écran -->
        <div class="buttons desktop-menu">
          <span routerLink="/articles" class="link">Articles</span>
          <span routerLink="/topics" class="link">Thèmes</span>
          <span routerLink="/me" class="link"><mat-icon class="login-icon">person</mat-icon></span>
        </div>
    
        <!-- Burger menu pour petites tailles d'écran -->
        <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/articles">Articles</button>
          <button mat-menu-item routerLink="/topics">Thèmes</button>
          <button mat-menu-item routerLink="/me"><mat-icon class="login-icon">person</mat-icon></button>
        </mat-menu>
      </mat-toolbar>
<hr />
<div class="detail">
    <mat-card *ngIf="article">
        <mat-card-title>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <button mat-icon-button (click)="back()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    <h1>{{article.title | titlecase}}</h1>
                </div>
            </div>
        </mat-card-title>
        <mat-card-content >
            <div class="my2" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="center">
                    <p>Author: {{authorName}}</p>

                    <span class="ml1">Thème : {{topicName}}</span>
                </div>
            </div>
                <div class="da">
                    
                        <p class="date">
                        Date: {{ article.created_at | date: 'dd MMMM yyyy, HH:mm' }}
                        </p>
                
                        <div class="content">
                        Contenu: {{ article.content }}
                </div>
                </div>
        </mat-card-content>
    </mat-card>

    <div class="comments-section">
        <hr>
        <h2 class="title-comments">Commentaires</h2>

        <div class="list" fxLayout="row" fxLayoutAlign="space-between center">
          <mat-grid-list cols="1" rowHeight="15:1">
            <mat-grid-tile *ngFor="let item of comments">
                <mat-card-actions>
                    <button class="comment" mat-raised-button>
                        <div class="da">
                            <p>Author: {{item.authorName}}</p>
                            <p>Comment: {{item.comment.content}}</p>
                        </div>
                    </button>
                </mat-card-actions>
            </mat-grid-tile>
  </mat-grid-list>
</div>

        <mat-card-content class="create-comment-area">
          <form [formGroup]="messageForm" (ngSubmit)="sendMessage()" fxLayout="column">
            <textarea matInput placeholder="Message for the owner" rows="6" formControlName="message"></textarea>
            <div fxLayout="row" fxLayoutAlign="end center" class="mt2">
                <button mat-raised-button color="primary" type="submit"
                    [disabled]="messageForm.invalid"><mat-icon>send</mat-icon></button>
            </div>
        </form>
        </mat-card-content>
    </div>  
</div>
</div>