<mat-toolbar>
    <img class="img" src="/assets/logo_p6.png" routerLink="" alt="logo" />
    
    <div class="buttons" fxLayout="row" fxLayoutAlign="space-between center">
        <span routerLink="/articles" class="link">Articles</span>
        <span routerLink="/themes" class="link">Thèmes</span>
        <span  class="link">Compte</span>
      </div>
</mat-toolbar>

<hr />
<div class="list" fxLayout="row" fxLayoutAlign="space-between center">


            <button mat-raised-button color="primary" routerLink="create">
                <mat-icon>add</mat-icon>
                <span class="ml1">Créer un article</span>
            </button>
        </div>
        <div >
            <span>Trier par</span>
            <mat-icon>{{ 'arrow_upward' && 'arrow_downward' }}</mat-icon>
          </div>
          <!--<div *ngIf="posts.length >1" class="sort-section" (click)="toggleSortOrder()">
            <span>Trier par</span>
            <mat-icon>{{ isAscending ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
          </div>-->
        <div class="list" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile *ngFor="let article of (articles$ | async)?.articles" >
                    <mat-card-actions>
            <button class="article" mat-raised-button [routerLink]="['detail',article.id]">
                <mat-grid-tile-header class="card">
                    {{ article.title }}
                </mat-grid-tile-header>
                <mat-card-subtitle>
                    <app-owner-info [authorId]="article.author_id"></app-owner-info>
                </mat-card-subtitle>
                <div class="da">
                    
                        <p class="date">
                        Date: {{article.created_at}}
                        </p>

                        author:{{ article.author_id }}
                
                        <div class="content">
                        Contenu: {{ article.content }}
                </div>
                </div>
            </button>
        </mat-card-actions>

        </mat-grid-tile>
    </mat-grid-list>
</div>