<div class="app">
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
      <img class="img" src="/assets/logo_p6.png" routerLink="" alt="logo" />
      <div class="buttons desktop-menu">
          <span routerLink="/articles" class="link articles">Articles</span>
          <span routerLink="/topics" class="link">Thèmes</span>
          <span routerLink="/me" class="link"><mat-icon class="login-icon">person</mat-icon></span>
      </div>

      <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-menu">
          <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/articles">Articles</button>
          <button mat-menu-item routerLink="/topics">Thèmes</button>
          <button mat-menu-item routerLink="/me"><mat-icon class="login-icon">person</mat-icon></button>
      </mat-menu>
  </mat-toolbar>

  <hr />
  <div fxLayout="row" fxLayoutAlign="end center" class="sort-container">
    <!-- Clic pour activer/désactiver l'affichage du menu de tri -->
    <span class="sort" (click)="toggleSortVisibility()">Trier par {{ sortDirection === 'asc' ? '↑' : '↓'}}</span>
  
    <!-- Affichage conditionnel du formulaire de tri -->
    <ng-container *ngIf="isSortVisible">
        <div class="sort-popup">
      <mat-form-field appearance="fill" class="sort-select">
          <mat-label>Choisir un critère</mat-label>
          <mat-select [(value)]="sortCriteria" (selectionChange)="sortArticles()">
              <mat-option value="date">Date</mat-option>
              <mat-option value="title">Titre</mat-option>
          </mat-select>
      </mat-form-field>
      <button mat-icon-button (click)="toggleSortDirection()">
          <mat-icon>{{ sortDirection === 'asc' ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
      </button>
        </div>
    </ng-container>
  </div>
  

  <div class="list" fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-raised-button color="primary" routerLink="create">
          <mat-icon>add</mat-icon>
          <span class="ml1">Créer un article</span>
      </button>
  </div>

  <div class="list article-grid">
      <div *ngFor="let article of (articles$ | async)?.articles" class="article" [routerLink]="['detail', article.id]">
          <div class="article-content">
              <b class="title">{{ article.title }}</b>
                  <p class="title">{{ article.created_at | date: 'dd MMMM yyyy, HH:mm' }}</p>
                  <app-owner-info [authorId]="article.author_id" class="title line"></app-owner-info>
              <p class="content">{{ article.content | slice: 0:100 }}</p>
          </div>
      </div>
  </div>
</div>
