.list {
    margin: 20px;

    .items {
        gap: 20rem;
    }
}

.article {
    width: 900px;
    height: 450px;
    background: rgb(236, 236, 236);
    padding: 0;
}

.app {
    .link {
        cursor: pointer;
        font-size: 16px;
        text-decoration: none;
        
    }
    
  
    .link + .link {
        margin-left: 10px;
    }
    /* Cacher le menu desktop pour les petits écrans */
  .desktop-menu {
    display: flex;
  }

  .mobile-menu {
    display: none;
  }

  @media (max-width: 768px) {
    .desktop-menu {
      display: none;
    }

    .mobile-menu {
      display: block;
      margin-left: auto;
    }
  }
}
.img {
    width: 100px;
}
.mat-raised-button.mat-primary {
  background-color: #7763C5;
}

.buttons {
  margin-left: auto;
}

.da {
    display: block;
}

.date {
    margin-right: 50px;
}


mat-grid-tile-header.card {
    color: black;
    font-weight: 600;
    font-size: large;
    background: rgb(236, 236, 236);
}

hr {
    margin: 0;
}

.article-grid {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    //gap: 16px; /* C'est l'espace entre les articles. Ajustez cette valeur selon vos besoins. */
    column-gap: 40px;
    row-gap: 28px;
  }
  
  .top-left {
    grid-column: 1;
  }
  
  .top-right {
    grid-column: 2;
    justify-self: right;
  
    display: flex;
    align-items: center; /* aligne verticalement le contenu au centre */
    gap: 8px; /* espace entre les éléments à l'intérieur du flex container, vous pouvez ajuster selon vos besoins */
  }
  
  @media (max-width: 500px) {
    /* Ajustez cette valeur de breakpoint selon vos besoins */
    .article-grid {
      grid-template-columns: 1fr;
    }
  
    .top-right {
      grid-column: 1; /* Pour le mettre dans sa propre ligne sous l'élément de gauche */
      justify-self: center;
    }
  
    .top-left {
      justify-self: center;
    }
  }

  .articles {
    color: #7763C5;
  }
  .login-icon {
    background: #D9D9D9;
    color: black;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .sort {
    float: right;
    margin-top: 15px;
  }