.container {
    position: relative;
}

.register {
    margin-top: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.mat-toolbar {
    background: white;
}

.img {
    width: 100px;
}

.img:hover{
    cursor: pointer;
}

.mat-raised-button.mat-primary {
    background-color: #7763C5;
    color: white;
}

.mat-card-title {
    margin-bottom: 30px;
}

.button {
    margin-top: 30px;
}

.mail, .pass, .name {
    background-color: white;
      cursor: pointer;
      text-decoration: none;
      border-radius: 5px;
      padding: 10px;
      border: 2px;
      border-style: solid;
  }