.container {
    position: relative;
}

.register {
    margin-top: 300px;
   /* mat-card {
        margin: 20px;
        max-width: 600px;
        width: 100%;
    }*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.mat-toolbar {
    background: white;
}

.img {
    width: 100px;
}

.img:hover{
    cursor: pointer;
}