<mat-toolbar>
    <img class="img" src="/assets/logo_p6.png" routerLink="" alt="logo" />
</mat-toolbar>
<hr />
<div class="container">
<div class="register" fxLayout="row" fxLayoutAlign="center center">
            <mat-card-title>Inscription</mat-card-title>
        <form class="register-form" [formGroup]="form" (ngSubmit)="submit()">
            <mat-card-content fxLayout="column">
                <div>
                <mat-form-field fxFlex>
                    <input class="name" matInput placeholder="Nom d'utilisateur" formControlName="name">
                </mat-form-field>
            </div>
                <div>
                <mat-form-field fxFlex>
                    <input class="mail" matInput placeholder="Adresse e-mail" formControlName="email">
                </mat-form-field>
            </div>
                <div>
                <mat-form-field fxFlex>
                    <input class="pass" matInput placeholder="Mot de passe" formControlName="password">
                </mat-form-field>
            </div>
            </mat-card-content>
            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="form.invalid">S'inscrire</button>
            <p *ngIf="onError" class="error">An error occurred</p>
        </form>
</div>
</div>