<div class="container">
<div class="register" fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title>Inscription</mat-card-title>
        </mat-card-header>
        <form class="register-form" [formGroup]="form" (ngSubmit)="submit()">
            <mat-card-content fxLayout="column">
                <div>
                <mat-form-field fxFlex>
                    <input matInput placeholder="Nom d'utilisateur" formControlName="name">
                </mat-form-field>
            </div>
                <div>
                <mat-form-field fxFlex>
                    <input matInput placeholder="Adresse e-mail" formControlName="email">
                </mat-form-field>
            </div>
                <div>
                <mat-form-field fxFlex>
                    <input matInput placeholder="Mot de passe" formControlName="password">
                </mat-form-field>
            </div>
            </mat-card-content>
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">S'inscrire</button>
            <span *ngIf="onError" class="error">An error occurred</span>
        </form>
    </mat-card>
</div>
</div>