<div class="me">
        <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
            <img class="img" src="/assets/logo_p6.png" routerLink="" alt="logo" />
            
            <div class="buttons">
                <span routerLink="/articles" class="link">Articles</span>
                <span routerLink="/topics" class="link">Thèmes</span>
                <span  routerLink="/me" class="link">Compte</span>
              </div>
        </mat-toolbar>
    <hr />
    <mat-card class="">
        <mat-card-title>

            <div fxLayout="row" fxLayoutAlign="center center">
                <h1>Profil Utilisateur</h1>
            </div>
            
        </mat-card-title>
        <mat-card-content *ngIf="meForm">
            <form  [formGroup]="meForm" class="mt2" class="example-form"  fxLayout="column" (ngSubmit)="submit()">
                

                <mat-form-field appearance="outline" fxLayoutAlign="center center"  fxFlex>
                    <mat-label>name</mat-label>
                    <input matInput formControlName="name" [(ngModel)]="sessionService.user!.name" placeholder="Nom de l'utilisateur">
                </mat-form-field>


                <mat-form-field appearance="outline" fxLayoutAlign="center center"  fxFlex>
                    <mat-label>email</mat-label>
                    <textarea matInput formControlName="email" [(ngModel)]="sessionService.user!.email" placeholder="email de l'utilisateur"></textarea>
                </mat-form-field>

                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-card-actions >
                        <button mat-raised-button color="primary">Sauvegarder</button>
                        <a mat-button color="warn" (click)="onLogoutClick()">Se déconnecter</a>
                      </mat-card-actions>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>