<div class="me">
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    <img class="img" src="/assets/logo_p6.png" routerLink="" alt="logo" />
    <!-- Menu pour les grandes tailles d'écran -->
    <div class="buttons desktop-menu">
      <span routerLink="/articles" class="link">Articles</span>
      <span routerLink="/topics" class="link">Thèmes</span>
      <span routerLink="/me" class="link"><mat-icon class="login-icon">person</mat-icon></span>
    </div>

    <!-- Burger menu pour petites tailles d'écran -->
    <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/articles">Articles</button>
      <button mat-menu-item routerLink="/topics">Thèmes</button>
      <button mat-menu-item routerLink="/me"><mat-icon class="login-icon">person</mat-icon></button>
    </mat-menu>
  </mat-toolbar>
  <hr />
  
  <mat-card>
        <h1 fxLayout="row" fxLayoutAlign="center center">Profil Utilisateur</h1>
    <mat-card-content *ngIf="meForm">
      <form [formGroup]="meForm" class="mt2 example-form" fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="submit()">
        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="name" placeholder="{{user?.name}}">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="{{user?.email}}">
        </mat-form-field>

        <div >
          <mat-card-actions fxLayout="column" fxLayoutAlign="space-between center" fxFlex>
            <button mat-raised-button color="primary" class="mt2">Sauvegarder</button>
            <button mat-button color="warn" type="button"class="mt2 disconnect" (click)="onLogoutClick()">Se déconnecter</button>
          </mat-card-actions>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  
    <h2 fxLayoutAlign="center center">Abonnements</h2>

    <!-- Afficher les sujets suivis si l'utilisateur est chargé -->
      <div *ngIf="user && user.followedTopics.length > 0; else noFollowedTopics" fxLayoutAlign="center center" class="list-container">
          <div *ngFor="let topic of user.followedTopics" class="card">
              <h3 class="card-title">{{ topic.name }}</h3>
              <p class="card-description">Description: {{ topic.description }}</p>
              <button 
                mat-button 
                color="warn" 
                (click)="unsubscribe(topic.id)">
                Se Désabonner
              </button>
          </div>
      </div>

      <!-- Message si aucun sujet n'est suivi -->
      <ng-template #noFollowedTopics>
        <p fxLayoutAlign="center ceter">Vous ne suivez aucun sujet pour le moment.</p>
      </ng-template>
    </div>

