<div class="me">
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    <img class="img" src="/assets/logo_p6.png" routerLink="" alt="logo" />
    <!-- Menu pour les grandes tailles d'écran -->
    <div class="buttons desktop-menu">
      <span routerLink="/articles" class="link">Articles</span>
      <span routerLink="/topics" class="link">Thèmes</span>
      <span routerLink="/me" class="link">Compte</span>
    </div>

    <!-- Burger menu pour petites tailles d'écran -->
    <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/articles">Articles</button>
      <button mat-menu-item routerLink="/topics">Thèmes</button>
      <button mat-menu-item routerLink="/me">Compte</button>
    </mat-menu>
  </mat-toolbar>
  <hr />
  
  <mat-card>
    <mat-card-title>
      <div fxLayout="row" fxLayoutAlign="center center">
        <h1>Profil Utilisateur</h1>
      </div>
    </mat-card-title>
    <mat-card-content *ngIf="meForm">
      <form [formGroup]="meForm" class="mt2 example-form" fxLayout="column" (ngSubmit)="submit()">
        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="name" placeholder="{{user?.name}}">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="{{user?.email}}">
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-card-actions>
            <button mat-raised-button color="primary">Sauvegarder</button>
            <button mat-button color="warn" type="button" (click)="onLogoutClick()">Se déconnecter</button>
          </mat-card-actions>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <div class="user-topics">
    <h3>Mes Sujets Abonnés</h3>

    <!-- Afficher les sujets suivis si l'utilisateur est chargé -->
    <div *ngIf="user">
      <div *ngIf="user.followedTopics.length > 0; else noFollowedTopics">
        <mat-grid-list cols="2" rowHeight="3:1" class="topic-list">
          <mat-grid-tile *ngFor="let topic of user.followedTopics">
            <mat-card class="topic-item">
              <span>{{ topic.name }}</span>
              <button 
                mat-button 
                color="warn" 
                (click)="unsubscribe(topic.id)">
                Se Désabonner
              </button>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <!-- Message si aucun sujet n'est suivi -->
      <ng-template #noFollowedTopics>
        <p>Vous ne suivez aucun sujet pour le moment.</p>
      </ng-template>
    </div>
  </div>
</div>
