.app {
    .link {
        cursor: pointer;
        font-size: 16px;
        text-decoration: none;
    }

    .link + .link {
        margin-left: 10px;
    }
}
.mat-raised-button.mat-primary {
    background-color: #7763C5;
}