<mat-toolbar>
    <img class="img" src="/assets/logo_p6.png" routerLink="" alt="logo" />
</mat-toolbar>
<hr />
<div class="list">
    <mat-card>
        <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">

            <button mat-raised-button color="primary" routerLink="create">
                <mat-icon>add</mat-icon>
                <span class="ml1">Créer un article</span>
            </button>

        </mat-card-header>
        <div class="items mt2" fxLayout="row" fxLayout.lt-md="column">
            <mat-card class="item" *ngFor="let article of (articles$ | async)?.articles" fxFlex>
                <mat-card-header>
                    <mat-card-title>{{ article.title }}</mat-card-title>
                    <mat-card-subtitle>
                      <!--<app-owner-info [ownerId]="article.owner_id"></app-owner-info>--> 
                    </mat-card-subtitle>
                </mat-card-header>
                
                <mat-card-content>
                    <p>
                        Date: {{article.date}}
                        Auteur: {{article.author}}
                        Contenu: {{ article.content }}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card>
</div>