<mat-toolbar>
    <img class="img" src="/assets/logo_p6.png" routerLink="" alt="logo" />
    
    <div class="buttons" fxLayout="row" fxLayoutAlign="space-between center">
        <span routerLink="/articles" class="link">Articles</span>
        <span routerLink="/themes" class="link">Thèmes</span>
        <span  class="link">Compte</span>
      </div>
</mat-toolbar>

<hr />
        <div class="list" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile *ngFor="let theme of (themes$ | async)?.themes" >
                    <mat-card-actions>
            <button class="theme">
                <mat-grid-tile-header class="card">
                    {{ theme.name }}
                </mat-grid-tile-header>
                <div class="da">
                
                        <div class="content">
                        Contenu: {{ theme.description }}
                </div>
                <button mat-raised-button color="primary" routerLink="create">
                    <span class="ml1">S'abonner</span>
                </button>
                <button mat-raised-button color="primary" routerLink="delete">
                    <span class="ml1">Se désabonner</span>
                </button>
                </div>
            </button>
            
        </mat-card-actions>

        </mat-grid-tile>
    </mat-grid-list>
</div>