<mat-toolbar>
    <img class="img" src="/assets/logo_p6.png" routerLink="" alt="logo" />
</mat-toolbar>
<hr />
<div class="create m3">

    <mat-card>
        <mat-card-title>
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button routerLink="/articles">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <h1>Créer un nouvel article</h1>
            </div>
        </mat-card-title>
        <mat-card-content >
            <form class="mt2" class="example-form"  (ngSubmit)="submit()">
                <mat-form-field class="example-full-width" fxFlex>
                    <mat-label>Titre</mat-label>
                    <input matInput formControlName="title" placeholder="Titre de l'article">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Theme</mat-label>
                    <mat-select ngDefaultControl formControlName="theme_id" aria-placeholder="Sélectionner un thème">
                      <mat-option *ngFor="let theme of themes$ | async" [value]="theme.id">
                        {{theme.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                <mat-form-field class="example-full-width" fxFlex>
                    <mat-label>Contenu</mat-label>
                    <textarea matInput rows="8" formControlName="content" placeholder="Contenu de l'article"></textarea>
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-raised-button color="primary" type="submit" >
                        Save
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>