.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .mat-toolbar {
    background: white;
}
.img {
    width: 100px;
}

.img:hover{
    cursor: pointer;
}

.app {
  .link {
      cursor: pointer;
      font-size: 16px;
      text-decoration: none;
      
  }
  
  .link + .link {
      margin-left: 10px;
  }
  /* Cacher le menu desktop pour les petits écrans */
  .desktop-menu {
    display: flex;
  }

  .mobile-menu {
    display: none;
  }

  @media (max-width: 768px) {
    .desktop-menu {
      display: none;
    }

    .mobile-menu {
      display: block;
      margin-left: auto;
    }
  }
}
.img {
  width: 100px;
}


.buttons {
margin-left: auto;
}

hr {
  margin: 0;
}

.mat-raised-button.mat-primary {
  background-color: #7763C5;
  color: white;
}
.login-icon {
  background: #D9D9D9;
  color: black;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}