<mat-toolbar>
    <img class="img" src="/assets/logo_p6.png" routerLink="" alt="logo" />
    <div class="buttons" fxLayout="row" fxLayoutAlign="space-between center">
        <span routerLink="/articles" class="link">Articles</span>
        <span routerLink="/topics" class="link">Thèmes</span>
        <span  class="link">Compte</span>
      </div>
</mat-toolbar>
<hr />
<div class="create m3">

    <mat-card>
        <mat-card-title>
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button routerLink="/articles">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <h1>Créer un nouvel article</h1>
            </div>
        </mat-card-title>

    
        <mat-card-content *ngIf="articleForm">
            <form class="mt2" class="example-form"  fxLayout="column" [formGroup]="articleForm" (ngSubmit)="submit()">
                
                <mat-form-field appearance="outline" class="example-full-width" fxFlex>
                    <mat-label>Topic</mat-label>
                    <mat-select ngDefaultControl formControlName="topic_id">
                      <mat-option *ngFor="let topic of topics$ | async" [value]="topic.id">
                        {{topic.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width" fxFlex>
                    <mat-label>Titre</mat-label>
                    <input matInput formControlName="title" placeholder="Titre de l'article">
                </mat-form-field>


                <mat-form-field appearance="outline" class="example-full-width" fxFlex>
                    <mat-label>Contenu</mat-label>
                    <textarea matInput formControlName="content" placeholder="Contenu de l'article"></textarea>
                </mat-form-field>

                <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-raised-button color="primary" type="submit">
                        Créer
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>