<div class="app">
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
        <img class="img" src="/assets/logo_p6.png" routerLink="" alt="logo" />
        <!-- Menu pour les grandes tailles d'écran -->
        <div class="buttons desktop-menu">
          <span routerLink="/articles" class="link">Articles</span>
          <span routerLink="/topics" class="link">Thèmes</span>
          <span routerLink="/me" class="link"><mat-icon class="login-icon">person</mat-icon></span>
        </div>
    
        <!-- Burger menu pour petites tailles d'écran -->
        <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/articles">Articles</button>
          <button mat-menu-item routerLink="/topics">Thèmes</button>
          <button mat-menu-item routerLink="/me"><mat-icon class="login-icon">person</mat-icon></button>
        </mat-menu>
      </mat-toolbar>
<hr />
<div class="create m3" fxLayout="row" fxLayoutAlign="center center" fxFlex>

    <mat-card >
        <mat-card-title>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-icon-button routerLink="/articles">
                  <h1><mat-icon>arrow_back</mat-icon>Créer un nouvel article</h1>
                </button>
                
            </div>
        </mat-card-title>

    
        <mat-card-content *ngIf="articleForm" >
            <form class="mt2" class="example-form"  fxLayout="column" [formGroup]="articleForm" (ngSubmit)="submit()">
                
                <mat-form-field appearance="outline" class="example-full-width" fxFlex>
                    <mat-label>Topic</mat-label>
                    <mat-select ngDefaultControl formControlName="topic_id">
                      <mat-option *ngFor="let topic of topics$ | async" [value]="topic.id">
                        {{topic.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width" fxFlex>
                    <mat-label>Titre</mat-label>
                    <input matInput formControlName="title" placeholder="Titre de l'article">
                </mat-form-field>


                <mat-form-field appearance="outline" class="example-full-width" fxFlex>
                    <mat-label>Contenu</mat-label>
                    <textarea matInput formControlName="content" placeholder="Contenu de l'article"></textarea>
                </mat-form-field>

                <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-raised-button color="primary" type="submit" [disabled]="articleForm.invalid">
                        Créer
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
</div>